/* Common Use Css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body {
        font-family: 'Poppins',
                sans-serif;
        color: #3A3A3A;
        overflow-x: hidden;
}

li {
        list-style: none;
}

a {
        text-decoration: none;
}

img {
        width: 100%;
        display: block;
        margin: auto;
}

.fas {
        font-size: 25px;
}

.btn {
        background: #E02C6D;
        color: white;
        border: 2px solid #E02C6D;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        font-family: 'Poppins',
                sans-serif;
        padding: 10px 30px;
}

.btn:hover {
        background: transparent;
        color: #E02C6D;
        transition: 0.4s ease-in-out;
        border: 2px solid #E02C6D;
}

.container {
        max-width: 1200px;
        margin: auto;
        padding-bottom: 30px;
}


/* Header Style Start */
nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 50px 0;
}

.logo {
        font-size: 24px;
        font-weight: 700;
        cursor: pointer;
}

nav .nav-items {
        display: flex;
}

nav ul li {
        margin-left: 30px;
}

nav ul li a {
        font-size: 16px;
        font-weight: 600;
        color: #3A3A3A;
}

.humbargar {
        display: none;
}

.shop {
        display: none;
}

.content {
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.left__content {
        width: 50%;
}

.left__content h1 {
        font-size: 52px;
        line-height: 70px;
}

.left__content p {
        padding: 16px 0;
        font-weight: 600;
}

.left__content .btn {
        border-radius: 50px;
}

.right__content {
        width: 50%;
        margin: auto;
        position: relative;
}

.right__content img {
        max-width: 440px;
}

.circle {
        position: absolute;
        top: 0;
        left: 80px;
        z-index: -1;
}

/* Header Style End */

/* Product Section Start */
.products {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
}

.product {
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 16px 0px #AAAA;
}

.title {
        text-align: center;
        padding: 30px;
        font-size: 28px;
}

.product__rating .fas {
        font-size: 15px;
        color: rgb(243, 52, 52);
}

.product__title {
        font-size: 30px;
        font-weight: 400;
}

.product__desc {
        font-weight: 600;
}

.see__more {
        color: #E02C6D;
        display: flex;
        font-size: 20px;
        font-weight: 600;
        align-items: center;
        justify-content: flex-end;
        padding-top: 30px;
}

/* Product Section End */

/* Footer Start */
footer {
        text-align: center;
        background-color: #0A0826;
        padding: 50px;
        color: white;
}

footer h3 {
        font-size: 24px;
}

footer p {
        font-size: 14px;
        padding: 16px 0;
}

footer i {
        cursor: pointer;
        font-size: 20px;
        margin-left: 5px;
        background-color: rgba(240, 248, 255, 0.213);
        padding: 10px;
        border-radius: 50%;
}

/* Footer End */



/* [------------------------------
                Responsive              
                --------------------------]*/

@media screen and (max-width:1200px) {
        .container {
                width: 95%;
        }
}

@media screen and (max-width:1024px) {
        .circle {
                left: 24px;
        }
}

@media screen and (max-width: 992px) {

        /* Header */
        .content {
                flex-direction: column;
        }

        .left__content {
                order: 1;
                width: 100%;
                text-align: center;
        }

        .circle {
                left: 0;
        }

        /* Main or Product */
        .products {
                grid-template-columns: repeat(2, 1fr);
        }
}

@media screen and (max-width:768px) {

        /* Header */
        nav {
                position: relative;
        }

        .humbargar {
                display: block;
        }

        .shop {
                display: block;
        }

        .humbargar {
                cursor: pointer;
        }

        .nav-items {
                position: absolute;
                background-color: rgba(243, 243, 243, 0.809);
                height: 92vh;
                width: 300px;
                transition: 0.3s ease-in-out;
                align-items: center;
                opacity: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                transform: translate(-100%);
        }

        .active {
                opacity: 1;
                transform: translate(-120%);
                z-index: 1000;

        }



        /* Main or Product */
        .products {
                grid-template-columns: repeat(1, 1fr);
        }
}

@media screen and (max-width:375px) {
        .logo {
                font-size: 15px;
        }

        nav .fas {
                font-size: 15px;
        }
}